body {
    background-color: #ffb6c1;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}

.login-box {
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.title {
    text-align: center;
    color: #444;
    margin-top: 0px;
}

.input-container {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #888;
}

.btn {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.link-div {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}